* {
  margin: 0;
  box-sizing: border-box;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.container {
  margin-top: 20px;
}

.container table {
  border-collapse: separate;
  border-spacing: 0 10px;
  width: 100%;
  text-align: center;
}

.container table td {
  border: solid 1px #000;
  border-style: solid none;
  padding: 10px;
}

.formulario {
  margin-bottom: 70px;
}

.form-input {
  width: 100%;
}

.campo {
  margin-top: 10px;
  margin-bottom: 10px;
}

.p-field {
  margin-top: 2px;
}

.p-button-outlined {
  margin-top: 5px;
  margin-right: 3px;
  float: right;
}

.form-input.is-invalid,.was-validated .form-input:invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + .75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(.375em + .1875rem) center;
  background-size:calc(.75em + .375rem) calc(.75em + .375rem)
}

:not(.invalid-feedback) {
  margin-left: -1px;
}

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: .25rem;
  font-size: .875em;
  color:#dc3545
}

.is-invalid~.invalid-feedback,.is-invalid~.invalid-tooltip,.was-validated :invalid~.invalid-feedback,.was-validated :invalid~.invalid-tooltip {
  display:block
}

.invalid-feedback {
  margin-left:.5em
}
