* {
  margin: 0;
  box-sizing: border-box;
}

h2 {
  margin-top: 20px;
  text-align: center;
}

.card {
  margin-top: 20px;
}

.card td {
  text-align: center;
  font-size: 12px;
}

.card th {
  text-align: center;
  font-size: 12px;
}

.p-button-rounded.p-button-success {
  margin-bottom: 4px;
}
