<h2>Lista de Hardwares</h2>

<br>

<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button [routerLink]="['/clients/info', client_id, 'hardware-create']" pButton pRipple label="Novo Hardware" icon="pi pi-plus" class="p-button-success p-mr-2"></button>
      </ng-template>
      <ng-template pTemplate="right">
        <div class="p-d-flex p-ai-center p-jc-between">
          <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" placeholder="Filtrar por nome" [(ngModel)]="filter"/>
          </span>
        </div>
      </ng-template>
  </p-toolbar>

  <p-table [value]="filteredHardwares">
    <ng-template pTemplate="header">
        <tr>
          <th>Localização</th>
          <th>Usuario</th>
          <th>Etiqueta</th>
          <th>Tipo</th>
          <th>Marca</th>
          <th>SO</th>
          <th>Processador</th>
          <th>RAM</th>
          <th>HD</th>
          <th>Status</th>
          <th> </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-filteredHardware>
        <tr>
          <td> {{ filteredHardware.deviceLocalization }} </td>
          <td> {{ filteredHardware.deviceOwnerUserName }} </td>
          <td> {{ filteredHardware.deviceTag }} </td>
          <td> {{ filteredHardware.deviceType }} </td>
          <td> {{ filteredHardware.deviceBrand }} </td>
          <td> {{ filteredHardware.deviceSO }} </td>
          <td> {{ filteredHardware.deviceProcessor }} </td>
          <td> {{ filteredHardware.deviceRAM }} </td>
          <td> {{ filteredHardware.deviceHD }} </td>
          <td> {{ filteredHardware.deviceStatusCondition }} </td>
          <td class="botoes">
            <button [routerLink]="['/clients/info', client_id, 'hardware', filteredHardware.id]" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"></button>
            <button (click)="deleteById(filteredHardware.id)" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"></button>
          </td>
        </tr>
    </ng-template>
  </p-table>
</div>
