* {
  margin: 0;
  box-sizing: border-box;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.container {
  margin-top: 20px;
}

.container table {
  border-collapse: separate;
  border-spacing: 0 10px;
  width: 100%;
  text-align: center;
}

.container table td {
  border: solid 1px #000;
  border-style: solid none;
  padding: 10px;
}

.formulario {
  margin-bottom: 70px;
}

.p-button-outlined {
  margin-top: 5px;
  margin-right: 3px;
  float: right;
}

.form-input {
  width: 100%;
}

.campo {
  margin-top: 10px;
  margin-bottom: 10px;
}

.p-field {
  margin-top: 2px;
}

.p-col-12 {
  margin-top: 2px;
}
