<h2>Client Info</h2>

<hr/>

<form #clientForm="ngForm" *ngIf="client">

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Name:</label>
    <div class="col-sm-10">
      <input [(ngModel)]="client.name" required name="name" #clientName="ngModel" [ngClass]="{'is-invalid': clientName.invalid}" class="form-control">
      <div class="invalid-feedback">
          <span>Client name is required</span>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">CNPJ:</label>
    <div class="col-sm-10">
      <input [(ngModel)]="client.cnpj" required name="cnpj" #clientCnpj="ngModel" [ngClass]="{'is-invalid': clientCnpj.invalid}" class="form-control">
      <div class="invalid-feedback">
          <span>Client CNPJ is required</span>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Address:</label>
    <div class="col-sm-10">
      <input [(ngModel)]="client.address" required name="address" #clientAddress="ngModel" [ngClass]="{'is-invalid': clientAddress.invalid}" class="form-control">
      <div class="invalid-feedback">
          <span>Client address is required</span>
      </div>
    </div>
  </div>

  <button [routerLink]="['/clients']" class="btn btn-secondary">Back</button>
</form>

<h2>Hardwares List</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Localização</th>
      <th>Usuario</th>
      <th>Etiqueta</th>
      <th>Tipo</th>
      <th>Marca</th>
      <th>Modelo</th>
      <th>SO</th>
      <th>Processador</th>
      <th>RAM</th>
      <th>HD</th>
      <th>Status</th>
      <th>Previsão substituição</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let equipment of client.equipment.values()'>
      <td> {{ equipment.deviceLocalization }} </td>
      <td> {{ equipment.deviceOwnerUserName }} </td>
      <td> {{ equipment.deviceTag }} </td>
      <td> {{ equipment.deviceType }} </td>
      <td> {{ equipment.deviceBrand }} </td>
      <td> {{ equipment.deviceModel }} </td>
      <td> {{ equipment.deviceSO }} </td>
      <td> {{ equipment.deviceProcessor }} </td>
      <td> {{ equipment.deviceRAM }} </td>
      <td> {{ equipment.deviceHD }} </td>
      <td> {{ equipment.deviceStatusCondition }} </td>
      <td> {{ equipment.deviceSwapPrediction }} </td>
    </tr>
  </tbody>
</table>
