.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.my-nav {
  background-color: black;
  padding: 20px 10px;
}

.my-link {
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.my-logout {
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.link {
  margin: 0 10px;
  text-align: left;
}

.logout {
  margin: 0 10px;
  text-align: right;
}

i {
  color: white;
}
