<h2>Lista de Clientes</h2>

<div class="container">
  <div class="filtro"> <!--class="form-group row"-->
    <label class="label">Filtrar por nome:</label> <!--class="col-sm-2 col-form-label"-->
    <div class="barra"> <!--class="col-sm-10"-->
      <input [(ngModel)]="filter" class="form-control">
    </div>
  </div>

  <table> <!--class="table table-striped"-->
    <thead>
      <tr>
        <th>Nome</th>
        <th>CNPJ</th>
        <th>Endereço</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let client of filteredClients'>
        <td> {{ client.name }}</td>
        <td> {{ client.cnpj }}</td>
        <td> {{ client.address }}</td>
        <td>
          <a [routerLink]="['/clients/info', client.id]" class="botao-edit">Editar</a>
          <button (click)="deleteById(client.id)" class="botao-delete">Deletar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
