<h2>Lista de Clientes</h2>

<br>

<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
       <button [routerLink]="['/create-client']"pButton pRipple label="Novo Cliente" icon="pi pi-plus" class="p-button-success p-mr-2"></button>
       </ng-template>
       <ng-template pTemplate="right">
         <div class="p-d-flex p-ai-center p-jc-between">
           <span class="p-input-icon-left">
               <i class="pi pi-search"></i>
               <input pInputText type="text" placeholder="Filtrar por nome" [(ngModel)]="filter"/>
           </span>
         </div>
       </ng-template>
  </p-toolbar>

  <p-table [value]="filteredClients">
    <ng-template pTemplate="header">
        <tr>
          <th>Nome</th>
          <th>CNPJ</th>
          <th>Endereço</th>
          <th> </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-filteredClient>
        <tr>
          <td> {{ filteredClient.name }}</td>
          <td> {{ filteredClient.cnpj }}</td>
          <td> {{ filteredClient.address }}</td>
          <td>
            <button [routerLink]="['/clients/info', filteredClient.id]" pButton pRipple type="button" label="Editar" class="p-button-outlined"></button>
            <button (click)="deleteById(filteredClient.id)" pButton pRipple type="button" label="Deletar" class="p-button-outlined p-button-danger"></button>
          </td>
        </tr>
    </ng-template>
  </p-table>
</div>
