* {
  margin: 0;
  box-sizing: border-box;
}

h2 {
  margin-top: 10px;
  text-align: center;
}

.container {
  margin-top: 20px;
}

.container table {
  border-collapse: separate;
  border-spacing: 0 10px;
  width: 100%;
  text-align: center;
}

.container table td {
  border: solid 1px #000;
  border-style: solid none;
  padding: 10px;
}

.p-button-outlined {
  margin-right: 3px;
}
