* {
  margin: 0;
  box-sizing: border-box;
}

h2 {
  margin-top: 20px;
  text-align: center;
}

.card {
  margin-top: 20px;
}

.card td {
  text-align: center;
}

.card th {
  text-align: center;
}

.p-button-outlined {
  margin-right: 3px;
}
